// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
    
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 2px solid black;

    .link_access {
        margin-right: 25px;
    }
}

footer {
    text-align: center;
    margin: 15px;
    border-top: 2px solid black;
    padding-top: 20px;
}

main {
    text-align: center;

    ul {

        margin: 0;
        padding: 0;

        li {

            margin: 10px 0;
            list-style: none;
            text-decoration: none;

            a {
                color: black;
            }

        }

    }
  
 
    hr {

        border: 1px solid black;
    }
}